   #  TUPLE

In [1]:
t = ()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
l = []

In [4]:
print(type(l))

<class 'list'>

In [5]:
# COMPARING LIST AND A TUPLE !!!

In [6]:
list1 = [12,25,"one", True]

In [7]:
tuple1 = (12,25,"one", True)

In [8]:
 tuple7  = (11,22,33,44,55,[1,2,3,4],(41,54,4,7), False)

## accessing the elements of Tuple and list and comparing

In [9]:
# SAME AS THAT AS  A LIST

In [10]:
print(list1[0])

12

In [11]:
print(tuple1[0])

12

In [12]:
# INDEXNIG WORKS EXACTLY AS LIST

In [13]:
print(tuple1[0:3])

(12, 25, 'one')

In [14]:
# REVERSING THE ITEMS USING NEGATIVE INDEXING

In [15]:
print(tuple1[::-1])

(True, 'one', 25, 12)

In [16]:
print(tuple1[-1])

True

# changing the values inside a list and a tuple

In [17]:
list1 = [12,25,"one", True]

In [18]:
list1[0] = "ramesh"

In [19]:
print(list1) # modified list

['ramesh', 25, 'one', True]

In [20]:
# tuple1[0] ="ramesh" #does not support item assignment

In [21]:
# thus tuples are immutable

# append operation on tuples

In [22]:
tuple2 = (11,22,33,44,55)

In [23]:
# findin the memory location of data

In [24]:
print(id(tuple2))

2644552871472

In [25]:
t3 = tuple1+tuple2

In [26]:
print(t3)# this is ate diffrnt location thus append is possible

(12, 25, 'one', True, 11, 22, 33, 44, 55)

In [27]:
print(id(t3))

2644521788672

# methods on tuple

In [28]:
print(max(tuple2))# only if the data in numbriacl

55

In [29]:
print(min(tuple2))# only if the data in numbriacl

11

In [30]:
print(tuple2.index(55)) #index of 1st occurence

4

In [31]:
print(tuple2.count(55))# number of occurences

1

In [32]:
tuple2 = (11,22,33,44,55)

In [33]:
print(tuple2)

(11, 22, 33, 44, 55)

In [34]:
print(sorted(tuple2))

[11, 22, 33, 44, 55]

# Indirect way of editing a tuple, workaround

In [35]:
tuple2 = (11,22,33,44,55)

In [36]:
list3 = list(tuple2)

In [37]:
print(list3)

[11, 22, 33, 44, 55]

In [38]:
list3[3] = 555

In [39]:
print(list3)

[11, 22, 33, 555, 55]

In [40]:
print(tuple(list3))# converting list back to tuple

(11, 22, 33, 555, 55)

# uses

In [41]:
# when you dont want to change the code , pin , password , coordinates etc

# using for loop to access a tuple

In [42]:
tuple5 = (11,22,33,44,55,[1,2,3,4],(41,54,4,7), False)

In [43]:
for i in tuple5:
    print(i)

11
22
33
44
55
[1, 2, 3, 4]
(41, 54, 4, 7)
False

# packing/unpacking  a Tuple and List

In [44]:


print("*******Packing**************")
tuple1 = (2,4,6,8)
print(type(tuple1))
print(tuple1)
print(tuple1[1])
print(tuple1[2])

print("*******Normal way **************")
a = tuple1[0]
b = tuple1[1]
c = tuple1[2]
d = tuple1[3] 

print(a)
print(b)
print(c)
print("*******unpacking **************")

a,b,c,d = tuple1

print(a)
print(b)
print(c)


print("******unpacking of a List***************")



list007 = [107,207,307,407]

a ,b ,c,d = list007

print(a)
print(b)
print(c)
print(d)

*******Packing**************
<class 'tuple'>
(2, 4, 6, 8)
4
6
*******Normal way **************
2
4
6
*******unpacking **************
2
4
6
******unpacking of a List***************
107
207
307
407

# SETS

In [45]:
# unordered 
# no indexing 
# slicing not possible 
#  Unique elements

In [46]:
a = set()
print(type(a))

<class 'set'>

In [47]:
list1 = [45,45,78,78,65,6,521,2,1,14,78,41]

In [48]:
s  = set(list1) # converting list into set of unique elements

In [49]:
print(s) #DISTINCT ELEMENTSa

{65, 2, 1, 6, 521, 41, 45, 78, 14}

In [50]:
for i in s:
    print(i)

65
2
1
6
521
41
45
78
14

In [51]:
# print(s[3]) # not subscriptable since set are not ordered

In [88]:
# TRICKY QUESTIONS BASED ON BASIC CONCEPTS !!! 
# IMPORTANCE OF ASKING THE TYPE OF DATA BEFORE PROCEEDING , FOR PROPER UNDERSTANDING OF THE CODE

In [89]:
'''
1 .DATA TYPES IN PYTHON
> NUMBERS
    > INT
    > FLOAT
    > COMPLEX
> BOOLEAN
>LIST
>STRINGS '' or " " or ''' '''
> TUPLE ()
> SETS {}
'''


# tuples
k1 = (33)
k2 = ("33")
k3 = ("Pune")
print(type(k1))
print()
print(type(k2))
print()
print(type(k3))
print()

print("*************************")

k1 = (33,)
k2 = ("33",)
k3 = ("Pune",)
print(type(k1))
print()
print(type(k2))
print()
print(type(k3))
print()

print("*************************")
z1 = {12}
z2 = {"12"}
z3 = {"Pune"}
print(type(z1))
print(type(z2))
print(type(z3))

z1 = {12,}
z2 = {"12",}
z3 = {"Pune",}
print(type(z1))
print(type(z2))
print(type(z3))

<class 'int'>

<class 'str'>

<class 'str'>

*************************
<class 'tuple'>

<class 'tuple'>

<class 'tuple'>

*************************
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

# methods

In [52]:
s = {65, 2, 1, 6, 521, 41, 45, 78, 14, "weak", "order" ,True}

In [53]:
print(s)

{65, 2, 1, 6, 521, 41, 45, 78, 14, 'weak', 'order'}

In [54]:
s.add(99)

In [55]:
print(s)

{65, 2, 1, 99, 6, 521, 41, 45, 78, 14, 'weak', 'order'}

In [56]:
# s.add([11,22]) #unhashable  error

In [57]:
s.add((11,22)) # we can add a tuple insied a set

In [58]:
print(s)

{65, 2, 1, 99, 6, 521, 41, 45, 78, 14, 'weak', (11, 22), 'order'}

In [59]:
# mutable are unhashable eg. list
# immutable are hashable eg. tuple

In [60]:
# print(sorted(s)) # sorted will not work , if elements are not compatible

In [61]:
s3  = {44,55,88,77,55,44,12,45}

In [62]:
x = sorted(s3) # since all elements are integers, they will be sorted
print(type(x))
print(x)

<class 'list'>
[12, 44, 45, 55, 77, 88]

In [63]:
s.remove('weak')

In [64]:
print(s)

{65, 2, 1, 99, 6, 521, 41, 45, 78, 14, (11, 22), 'order'}

In [65]:
s.clear() #clear the set

In [66]:
print(s)

set()

In [67]:
# del(s) # will delete the whole set

In [68]:
# print(s) #error

# Operation on set

In [69]:
s_even= {2,4,6,8,10}

In [70]:
s_odd = {1,3,5,7,9}

In [71]:
# print(s_even + s_odd) #unsupported

In [72]:
print(tuple(s_even)) #interconversion is possible

(2, 4, 6, 8, 10)

In [73]:
print(tuple(s_odd))

(1, 3, 5, 7, 9)

In [74]:
print(list(s_odd))

[1, 3, 5, 7, 9]

In [75]:
# YOU CANT CHANGE BUT YOU CAN ADD ITEMS INSIDE A SET

In [76]:
#ADD

In [77]:
set1 = {3,6,9,12,15}
set1.add(18)

set1.add(21)
set1.add("MinSkole")
# set1.add([5,10,15,20]) #TypeError: unhashable type: 'list'
# set1.add({5,10,15,20}) # TypeError: unhashable type: 'set'
set1.add((5,10,15,20)) 
print(set1)

{3, 6, 9, 12, 15, 18, 21, 'MinSkole', (5, 10, 15, 20)}

In [78]:
#UPDATE

In [79]:
set3 = {3,6,9,12,15}
print(len(set3))

set4 = {4,8,12,16}
print(len(set4))
set3.update(set4)

print(set3)
print(len(set3))

5
4
{3, 4, 6, 8, 9, 12, 15, 16}
8

In [80]:
#copy

In [81]:
set7 = {7,77,777,73,6,9,12,15}

In [82]:
set_dup = set7.copy()

In [83]:
print(set_dup)

{6, 7, 73, 777, 9, 12, 77, 15}

In [86]:
print(id(set7))
print(id(set_dup))
# both will have differnt ID

2644553794048
2644553795616

In [ ]:
#REMOVE

In [ ]:
set3 = {0,3,6,9,12,15}
print(set3)
set3.remove(0)
print(set3)
# set3.remove(10) # this will throw error if the element is missing 
# print(set3)

In [ ]:
#DISCARD

In [ ]:
print("**********using discard*********")
set3 = {0,3,6,9,12,15}
set3.discard(100) # this will not throw error evne if the element is missing 
set3.discard(15) # this will not throw error evne if the element is missing 
print(set3)

In [ ]:
# POP

In [ ]:
set3 = {0,3,6,9,12,15}
set3.pop() # no argument has to be given
print(set3)
set3.pop() # no argument has to be given
print(set3)
set3.pop() # no argument has to be given
print(set3)

In [ ]:
# CLEAR

In [ ]:
# set3.clear()

In [ ]:
print(set3)

In [ ]:
# SET OPERATIONS mathematical

In [ ]:
e = {0,2,4,6,8,10}
o = {0,1,3,5,7,9}
o1 ={3,5}

In [ ]:
print(e.intersection(o))
print(e.union(o))
print(e.difference(o))
print(e.symmetric_difference(o))
print(o1.issubset(o))

In [ ]:
# TYPE CASTING

In [ ]:
print(set(["Minskole","Pune",400076]))

In [ ]:
print(set({"Name" : "Minskole",
"Addr" :"Pune", 
"Pin": 400076})) # to store the keys

# DICTIONARY

In [ ]:
z = {}
print(type(z))

In [ ]:
z = {8}
print(type(z))

In [ ]:
z = {8,9}
print(type(z))

In [ ]:
# key : value pair arrangement

In [ ]:
# creating  adict

In [ ]:
x = {"name" : "rahul" ,"age" : 25}

In [ ]:
print(x)

In [ ]:
# keys are like index in a dict

In [ ]:
dict1  ={
    'name' : 1,
    'name' : 2 ,
    'roll' : 5,
    'pin' : True,
    'num' : True
}

In [ ]:
# ways of creating a dictionary

In [ ]:
# using basic way
rainf = dict()
print(rainf)

rainf = {
    "Mumbai" : 25.9,
    "Pune" : 22.4
}
print(rainf)

In [ ]:
# using dict method

In [ ]:
a = ("Nirmal",33.4)
b = ("Nizamabad",54.6)
c = ("Jagtial",35.9)
d = ("Peddapalli",36)
e = ("Jayashankar",30.8)

In [ ]:
rainf = dict([a,b,c,d,e])
print(rainf)

In [ ]:
a = dict(one=1, two=2, three=3) # string are not in quotes
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
# checking if all above dictionaries are equal

In [ ]:
print(a == b == c == d == e == f)

In [ ]:
print(dict1) #updated value of name i.e the latest entry

In [ ]:
# values allowed as Keys

In [ ]:
# dict1  ={
#     'name' : 1,
#     'name' : 2 ,
#     'roll' : 5,
#     @123 : True,
#     True : True
# }

In [ ]:
# print(dict1) eror

In [ ]:
dict1  ={
    'name' : 1,
    'name' : [11,22,55,88] ,
    'roll' : 5,
    'pin' : True,
    'num' : {1 : 'one',2 :'two',3 :'three'}
}

In [ ]:
print(dict1)

# accessing the  data

In [ ]:
dict1  ={
    'name' : 1,
    'name' : [11,22,55,88] ,
    'roll' : 5,
    'pin' : True,
    'num' : {1 : 'one',2 :'two',3 :'three'}
}

In [ ]:
print(dict1['roll'])

In [ ]:
print(dict1['num'][2])

In [ ]:
print(dict1['num'])

In [ ]:
print(dict1['name'][0])

In [ ]:
dict1['num'] = "Rahul" # reassigning the valuse is possible
print(dict1['num'])

In [ ]:
print(dict1.keys())

In [ ]:
print('num' in dict1) #membership operator

In [ ]:
for i in dict1: # this will give only keys
    print(i)

In [ ]:
for i in dict1.keys(): # this will give only keys
    print(i)

In [ ]:
for i in dict1.values(): # this will give only values
    print(i)

In [ ]:
for i in dict1.items(): # this will give key n value in tuple pair
    print(i)

In [ ]:
for i in dict1.items(): # this will give key 
    print(i[0])

In [ ]:
for i in dict1.items(): # this will give values 
    print(i[1])

In [ ]:
#updating  a dict

In [ ]:
a = ("Nirmal",22.6)
b = ("Nizamabad",54.6)
c = ("Jagtial",35.9)
d = ("Peddapalli",36)
e = ("Jayashankar",30.8)
rainf = dict([a,b,c,d,e])


rainf = dict([a,b,c,d,e])
rainf["Nirmal"] = 220
print(rainf)

In [ ]:
rainf.update({"Nirmal" : 500})
print(rainf)

In [ ]:
rainf["Nirmal"] = ""
print(rainf)

In [ ]:
rainf["Nirmal"] = None
print(rainf)

In [ ]:
rainf["Nirmal"] = True
print(rainf)

In [ ]:
# removing items from dict

In [ ]:
rainf.pop("Nirmal")
print(rainf)

In [ ]:
rainf.popitem() # remove the last element  = ctrl+z , undo
print(rainf)

In [ ]:
rainf.pop("Peddapalli")
print(rainf)

In [ ]:
# clearing the dict

rainf.clear()
print(rainf)

In [ ]:
del rainf # deleted the dict
# print(rainf) # this will give error

In [ ]:
# copy

In [ ]:
rainf2 = rainf

rainf2["Nirmal"] = None
print(rainf2)
print("***original***********")
print(rainf)

In [ ]:
print(id(rainf))
print(id(rainf2))

In [ ]:
rainf3 = rainf.copy()
print(id(rainf3))
rainf3["Nirmal"] = ""
print(rainf3)
print(rainf)

# METHODS

In [95]:
# 
# Method	Description
# clear()	Removes all the elements from the dictionary
# copy()	Returns a copy of the dictionary
# fromkeys()	Returns a dictionary with the specified keys and value
# get()	Returns the value of the specified key
# items()	Returns a list containing a tuple for each key value pair
# keys()	Returns a list containing the dictionary's keys
# pop()	Removes the element with the specified key
# popitem()	Removes the last inserted key-value pair
# setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update()	Updates the dictionary with the specified key-value pairs
# values()	Returns a list of all the values in the dictionary
#

In [111]:
# methods to retrieve data
# get
#  items
#  keys
# values

In [96]:
dict1  ={
    'name' : 1,
    'name' : [11,22,55,88] ,
    'roll' : 5,
    'pin' : True,
    'num' : {1 : 'one',2 :'two',3 :'three'}
}

In [112]:
z = dict1.get('pin')
print(z)

True

In [101]:
z = dict1.items()
print(z)

dict_items([('name', [11, 22, 55, 88]), ('roll', 5), ('pin', True), ('num', {1: 'one', 2: 'two', 3: 'three'})])

In [102]:
z = dict1.keys()
print(z)

dict_keys(['name', 'roll', 'pin', 'num'])

In [107]:
z = dict1.values()
print(z)

dict_values([[11, 22, 55, 88], 5, True, {1: 'one', 2: 'two', 3: 'three'}])

In [130]:
# using two variables for getting key and value pairs separately

In [109]:

z = dict1.items()

for i,j in z:
    print(i,j)

name [11, 22, 55, 88]
roll 5
pin True
num {1: 'one', 2: 'two', 3: 'three'}

In [110]:
# copy

In [121]:
dict_backup = dict1.copy()

In [122]:
print(dict_backup)

{'name': [11, 22, 55, 88], 'roll': 5, 'pin': True, 'num': {1: 'one', 2: 'two', 3: 'three'}}

In [123]:
# removing objects 
# pop
# popitem
#  clear
# del

In [124]:
dict_backup.pop('pin') # removes the mentioned key value pair

True

In [125]:
print(dict_backup)

{'name': [11, 22, 55, 88], 'roll': 5, 'num': {1: 'one', 2: 'two', 3: 'three'}}

In [126]:
dict_backup.popitem() # removes the last enterd objects
print(dict_backup)

{'name': [11, 22, 55, 88], 'roll': 5}

In [127]:
dict_backup.clear()
print(dict_backup)

{}

In [128]:
del(dict_backup)

In [131]:
# updating objects

In [132]:
dict1  ={
    'name' : 1,
    'name' : [11,22,55,88] ,
    'roll' : 5,
    'pin' : True,
    'num' : {1 : 'one',2 :'two',3 :'three'}
}

In [135]:
dict1['marks'] = 100
print(dict1)

{'name': [11, 22, 55, 88], 'roll': 5, 'pin': True, 'num': {1: 'one', 2: 'two', 3: 'three'}, 'marks': 100}

In [141]:
dict1.update({'Attendance' : 'Y'})
print(dict1)

{'name': [11, 22, 55, 88], 'roll': 5, 'pin': True, 'num': {1: 'one', 2: 'two', 3: 'three'}, 'marks': 100, 'Attendance': 'Y'}

# IMP METHODS

In [167]:
dict1  ={
    'name' : 1,
    'name' : [11,22,55,88] ,
    'roll' : 5,
    'pin' : True,
    'num' : {1 : 'one',2 :'two',3 :'three'}
}

In [154]:
# get

In [155]:
print(dict1.get('name'))

[11, 22, 55, 88]

In [156]:
print(dict1.get('place'))

None

In [157]:
print(dict1.get('place', 'No Such Key exists'))

No Such Key exists

In [170]:
# setdefault

In [161]:
print(dict1.setdefault('name'))

[11, 22, 55, 88]

In [162]:
# print(dict1.setdefault('place'))

None

In [168]:
print(dict1.setdefault('place' , 'Mumbai'))

Mumbai

In [169]:
print(dict1)

{'name': [11, 22, 55, 88], 'roll': 5, 'pin': True, 'num': {1: 'one', 2: 'two', 3: 'three'}, 'place': 'Mumbai'}

In [171]:
# fromkeys

In [172]:
a = ("Nirmal",33.4)
b = ("Nizamabad",54.6)
c = ("Jagtial",35.9)
d = ("Peddapalli",36)
e = ("Jayashankar",30.8)

rainf = dict([a,b,c,d,e])
print(rainf)


a = dict(one=1, two=2, three=3) # string are not in quotes
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)


print(a)
print(b)
print(c)
print(d)
print(e)
print(f)



# checking if all above dictionaries are equal


print(a == b == c == d == e == f)

{'Nirmal': 33.4, 'Nizamabad': 54.6, 'Jagtial': 35.9, 'Peddapalli': 36, 'Jayashankar': 30.8}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'two': 2, 'one': 1, 'three': 3}
{'three': 3, 'one': 1, 'two': 2}
{'one': 1, 'three': 3, 'two': 2}
True