# Function

In [203]:
# what is the use of a function

In [204]:
# TYPES OF FUNCTION
# inbuilt Eg: print , type , del
# user defined : 
# lambda , ANONYMOUS

# user defined function

In [205]:
# need for function as can be seen from below code

In [206]:
a =  10
b = 20
print(a+b)

30

In [207]:
a =  100
b = 200
print(a+b)

300

In [139]:
# we have to write the code again for addition as above every time when the values are changed

In [140]:
# we can write code that can be reused again and again, i.e we will be reusing the code

# writing first function

In [161]:
# syntax
# def fun_user_defined():
#     block of code

In [179]:
# without paramaters
# limited use as they can not be used with different arguments

In [172]:
def greeting(): #function with no argumnets
    print("Welcome to Minskole")
    print(" We are Online")

In [176]:
# HOw to call a function
# calling a function

In [173]:
greeting()

Welcome to Minskole
 We are Online

In [208]:
def multiply5(): #function with no argumnets , values are hard coded in the body
    print(5*5*5)

In [209]:
multiply5()

125

In [178]:
# with parameters

In [177]:
# writing the code but we want to define the body later
#  so we can use 'pass'

def test(x,y):
    pass

In [143]:
# test()   # error is :missing 2 required positional arguments: 'x' and 'y' , since we have not passed any argument

In [10]:
test(10,20) # passing the arguments

In [11]:
# adding body of the function

In [148]:
def test(x,y):
    print(x+y)

In [13]:
test(10,20) # now we will get the ans

30

In [14]:
test(100,200)

300

In [181]:
# Parameters vs Arguments 
#when some value is assigned to a paramter , it is called argument

# function that returns

In [144]:
# instead of printing the ans
# we can ask the function to return the ans , which be used for further processing
#  this can be used as parameter to another function

In [15]:
def test1(x,y):
    return x*y

In [16]:
print(test1(10,20))

200

In [210]:
# comparing return types in test1 and test functions

In [146]:
print(type(test1(10,20))) # <class 'int'>

<class 'tuple'>

In [149]:
print(type(test(10,20)))# <class 'NoneType'> # since it was not returning anything

30
<class 'NoneType'>

In [20]:
# we can store the returned value
a = test1(22,33)
print(a)

726

In [21]:
# print is not recommended as retun in functions
# as we cant use the output of that functuion for further operation

In [22]:
def test3(x,y,z):
    return x+y

In [23]:
# ans = test3(10,20) # error : missing 1 required positional argument

# we have to provide the exact number of arguments 
# as given in defination of the function

In [24]:
ans = test3(10,20,0)

In [25]:
print(ans)

30

# returning multiple values

In [26]:
def test4(a,b):
    return a*2 ,b*2 , a+b #is this valid

In [27]:
ans = test4(10,20)

In [28]:
print(ans) #ans will be a tuple

(20, 40, 30)

In [29]:
print(type(ans)) #<class 'tuple'>

<class 'tuple'>

In [30]:
# unpacking a tuple concept

x,y,z = test4(7,10)

In [31]:
print(x)
print(y)
print(z)

14
20
17

In [32]:
# when we dont want all the outputs of a function/
#  we use placeholde "_"

# if we dont want the value at z position we use "_" as placeholder
#  output will not be affected 
#  but we are not creating a new variable
x,y,_ = test4(7,10)

In [33]:
print(x)
print(y)
print(_)

14
20
17

In [34]:
_,_,_ = test4(7,10) #not recommended to use like this
# python will get confused

In [35]:
print(_)
print(_)
print(_)

17
17
17

# List as an argument of a function

In [150]:
# we can pass LIST as function argument

In [36]:
def one(a):
    return a*2

In [37]:
ans = one([1,2,3,4,5])

In [38]:
print(ans)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
print(type(ans))

<class 'list'>

In [40]:
# we can access the items in the list "ans"
# using indexing
print(ans[0])

1

In [41]:
# returning multiple values

In [42]:
def one(a):
    return a*2 ,a

In [43]:
ans = one([1,2,3,4,5])

In [44]:
print(ans)

([1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [45]:
x ,y = ans # accessing individual values

In [46]:
print(x)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [47]:
print(y)

[1, 2, 3, 4, 5]

In [2]:
list_num = [1,2,3,4,5,6]

# def func3(x):
#     w = []
#     for i in range(10):
#         w = w.append(5)
#     print(w)

# ans  = func3(list_num)
# print(ans)
# print(type(ans))



# print(type(ans))
# func3(list_num)

In [4]:
def fun5(x):
    return 2*x

In [5]:
a = fun5(list_num)

In [6]:
print(a)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [9]:
print(type(a))

<class 'list'>

In [10]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
1
2
3
4
5
6

In [12]:
def fun6(a):
    for i in range(len(a)):
        print(a[i])

In [13]:
z = fun6(list_num)

1
2
3
4
5
6

In [21]:
def fun7(a):
    z = []
    for i in range(len(a)):
        z.append(2*a[i])
    return z

In [22]:
ans = fun7(list_num)

In [23]:
print(ans)

[2, 4, 6, 8, 10, 12]

# default argument values

In [151]:
# we can pass default arguments if user has not given any value
#  there is an order in which default values are defined and not randomly

In [48]:
def two(a,b):
    return a + b

In [49]:
ans = two(20,30)

In [50]:
print(ans)

50

In [51]:
# there is order in which arguments can be placed
# find the order ????

In [52]:
def two(a,b=30):
    return a + b

In [53]:
ans = two(30) #default value of b = 30 is used

In [54]:
print(ans)

60

In [55]:
ans = two(30,100)

In [56]:
print(ans) ##default value of b is overwritten

130

In [57]:
def bool1(x=True,y=False):
    return x+y

In [58]:
print(bool1()) # 1 +0 = 1

1

In [59]:
print(bool1(False)) # 0 +0 = 1

0

In [152]:
# will dicuss PEP8 guide after the function class is over !!!!

In [62]:
def travel(bike =True, car =False):
    plan_travel = bike or car
    return bike ,car,plan_travel

In [63]:
travel()

(True, False, True)

In [64]:
# order of the variable matters while defining and calling the function

In [65]:
travel(False) #default vale of bike will be changed to False

(False, False, False)

In [66]:
travel(car = True) #default vale of car will be changed to True

(True, True, True)

In [67]:
#keyword arguments

# NUMBER OF VARIABLES NOT KNOWN *args

In [153]:
# when we are not sure about the number of variables to be used inside a function
# *args returns tuple

In [69]:
def test1(*args): #to pass multiple arguments
    return args

In [70]:
a = test1(11,22,33,False, [77,88,99], True)
print(a)

(11, 22, 33, False, [77, 88, 99], True)

In [154]:
# INdustry practice is to use *args
# but we can use any other variable also but is not recommended

def test2(*p): #to pass multiple arguments
    return p

In [72]:
z = test2(11,22,33, True)
print(z)

(11, 22, 33, True)

In [73]:
# fun to concatenate variable number of list/arg
def concat(*args):
    ans =[]
    for i in args:
        ans.append(i)
    return ans
        
c = concat(22,33,44,"RAHUL")
print(c)

[22, 33, 44, 'RAHUL']

In [74]:
# fun to concatenate variable number of list/arg
def concat(*args):
    ans =[]
    for i in args:
        if type(i) == list:
            ans = ans + i #only work for list
    return ans

In [75]:
z = concat([22,33,44,"RAHUL"],[22,33,44,"RAHUL"])
print(z)

[22, 33, 44, 'RAHUL', 22, 33, 44, 'RAHUL']

In [28]:
def func4(*args):
    print(*args)

In [29]:
func4(1,2,3,4,5)

1 2 3 4 5

In [30]:
func4([11,22,33], [23,24,25])

[11, 22, 33] [23, 24, 25]

#  **kwargs

In [76]:
#  *kwargs key=value pair as arguments
# used in dict craetion ???

In [77]:
def one(**kwargs):
    return kwargs

In [78]:
p = one(a=1,b=2,c=3)
print(p) #returns in a dict format

{'a': 1, 'b': 2, 'c': 3}

In [79]:
def test(**kwargs):
    print("Good")
    print(kwargs.items())

In [80]:
test(Institute = "Minskole" , location = "Pune" , Pin =  400001)

Good
dict_items([('Institute', 'Minskole'), ('location', 'Pune'), ('Pin', 400001)])

# Lambda Function

In [81]:
# nameless
# anonymous function

In [82]:
def student(name,domain):
    concate = name+domain
    return name, domain , concate

In [83]:

student("Rahul","@gmail.com")

('Rahul', '@gmail.com', 'Rahul@gmail.com')

In [84]:
a = 50
b = 150
def test(x,y):
    return x+y

In [85]:
test(a,b)

200

In [86]:
m = lambda x,y : x+y

In [87]:
print(m(a,b))

200

In [88]:
# eg:


z = lambda x,y : print(x+y)

In [89]:
z(100,9)

109

# SCOPE OF A VARIABLE

In [90]:
# SCOPE A VARIABLE
# local
# global

In [182]:
a = 35 # scope = GLOBAL

def multiply():
    a  = 5 * 6 # scope = LOCAL
    print(a)

print(a) # 1st 35
multiply() # 2nd  30 # not overwrite
print(a) #  3rd  35

35
30
35

In [91]:
r = "Sunday"
def func1(a,b):
    r = a + b
    print(r)

In [183]:
func1(10,20)
print(r)

30
Sunday

In [184]:
# how to access a global variable

In [189]:


a = 10
print("This is outside the fun , value of a :{}".format(a))

print("*********Global  Scope******")
def mul():
    global a
    a  = 100 
    z = a * a
    print(z)
    print(id(a))

mul()
print(a)
print(id(a))

This is outside the fun , value of a :10
*********Global  Scope******
10000
1527780347216
100
1527780347216

In [191]:
# use of global keyword is bad practise in Python !!!.
# this will create confusion

# Doc string

In [93]:
def func2():
    '''
    This is a Palind
    '''
    print("This is a Palind")

In [200]:
# # How to use help() for getting help

help(func2)

Help on function func2 in module __main__:

func2()
    This is a Palind

In [199]:
# How to use dir() for getting help
# dir(func2)  ?????

In [96]:
print(func2.__doc__)

    This is a Palind

In [198]:
print("***************Docstring **********")
def multiply1(x,y):
    '''
    This is for multiplying two numbers
    Input as two integers 
    output as complex conversion 
    NOTE: Dont use three numbers
    '''

    z = x*y
    # print(z)
    return z

# ans  = multiply1(5,8)
# print(ans)

print(multiply1.__doc__) # checking for user defined

***************Docstring **********

    This is for multiplying two numbers
    Input as two integers
    output as complex conversion
    NOTE: Dont use three numbers

In [196]:

print(print.__doc__) # for the inbuilt using 
# double underscore =  dunder doc

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [194]:
print(len.__doc__)

Return the number of items in a container.

In [195]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

# ITERATOR AND GENERATOR

In [97]:
# a = 10
# for i in a:
#     print(i) #'int' object is not iterable

In [98]:
name = 'MINSKOLE'
for i in name:
    print(i)

M
I
N
S
K
O
L
E

In [99]:
#without using for loop
#  iterable can be converted into iterator
# int is not iterable

In [100]:
x = iter(name)

In [101]:
print(next(x))

M

In [102]:
print(next(x))
print(next(x))
print(next(x))
print(next(x))

I
N
S
K

In [103]:
# num1= 55555
# z = iter(num1) #'int' object is not iterable
# nect(z)

# integers cant be iterated

In [104]:
z = 'AB'
w = iter(z)
print(next(w))
print(next(w))

A
B

In [105]:
# print(next(w)) #StopIteration error

In [106]:
list_one  = [1,11,111,1111]
l= iter(list_one)
print(next(l))
print(next(l))
print(next(l))

1
11
111

# GENERATOR

In [157]:
# why to use a generator when we hav a for loop???
# is a generator better than iterator

In [107]:
def two(n):
    l = []
    for i in range(n):
        l.append(i**3)
    return l

In [108]:
two(50000)

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 ...]

In [110]:
def test(n):
    for i in range(n):
        yield i**3

In [112]:
print(test(5))

<generator object test at 0x00000163BDB0E5E0>

In [113]:
print(range(5))

range(0, 5)

In [114]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [115]:
print(list(test(5)))

[0, 1, 8, 27, 64]

In [121]:
def test_num(n):
    for i in range(n):
        yield i**3
# similar we can canvert the yield into a list object

In [122]:


for i in test_num(15):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744

In [123]:
# use of yield function

In [134]:
def fibn(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a , b = b , a+b
    return output

In [135]:
fibn(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [136]:
def fibn(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a , b = b , a+b

In [137]:
fibn(10)

In [138]:
for i in fibn(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

#  PEP 8 – Style Guide for Python Code

In [158]:
# https://peps.python.org/pep-0008/

In [159]:
# whats the use of a guide

# MAP FILTER REDUCE

In [201]:
# WIP

# EXCEPTION HANDLING

In [202]:
# WIP